
body {
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
}

#header {
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 55px;
  background-color: orange;
  box-shadow: 0px 3px 3px #aaaaaa;
}

div.title {
  position: absolute;
  left: 2px;
  display: inline-block;;
  height: 100%;
}

div.settings {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 55px;
  height: 100%;
  border-left: 1px solid darkorange;
}

img.settings {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


#subs {
    position: fixed;
    top: 70px;
    display: block;
    width: 250px;
    flex-direction: column;
    font-size: 17px;
    color: #6e6e6e;
}

#subs div {
    width: 100%;
    padding: 5px 0 5px 0;
}

#subs div:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

div.feed_rss {
  display: flex;
  height: 30px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.feed_rss_selected {
  display: flex;
  height: 30px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #212121;
}

img.feed_icon {
  display: block;
  margin: 10px;
  width: 20px;
  height: 20px;
}

span.feed_title {
  display: block;
}

#content {
  margin: 70px 250px;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

hr {
  padding: 0;
  margin: 0;
}

div.content_item {
  display: block;
  width: 90%;
  margin: 0 auto;
  user-select: none;
  background-color: #ffffff;
  border: 1px solid #dedede;
}

div.content_item > div.item_container {
  display: none;
}

div.content_item_active {
    width: 95%;
    margin-top:  10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #888888;
}


div.content_title_container {
    width: 100%;
    height: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.content_title_container:hover{
    background-color: #dddddd;
    cursor: pointer;
}

div.content_item_active > div.content_title_container {
  background-color: #dddddd;
  font-weight: bold;
}

div.item_container {
  display: hide;
  padding: 20px;
}

div.content_item_active > div.item_container {
  display: block;
}

a.item_link {
  color: black;
  padding: 10px;
  margin: auto;
  display: block;
}

span.content_title {
  display: block;
  padding-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #212121;
}



img {
  max-width: 100%;
  max-height: 100%;
}
